@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0b0b14;
  color: #e5e7eb;
}

* {
  scrollbar-color: #393950 #15151f;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
